# Project Task Assigner

#### Importing required libraries

In [140]:
import pandas as pd

#### Reading task dataset which consists of 200 data with 10 sort of tasks

In [141]:
taskData = pd.read_csv("Dataset/tasks.csv")
taskData.shape

(200, 7)

In [142]:
taskData.head()

,TaskID,TaskName,Python,DataAnalysis,ML,Communication,ProjectManagement
0,1,Data Cleaning & Preparation,7,10,2,2,4
1,1,Data Cleaning & Preparation,7,8,1,3,1
2,1,Data Cleaning & Preparation,5,9,2,1,3
3,1,Data Cleaning & Preparation,7,8,2,1,1
4,1,Data Cleaning & Preparation,4,10,1,2,4

In [143]:
taskData.tail()

,TaskID,TaskName,Python,DataAnalysis,ML,Communication,ProjectManagement
195,10,Documentation Writing,2,2,1,9,3
196,10,Documentation Writing,4,3,4,10,3
197,10,Documentation Writing,4,1,2,7,4
198,10,Documentation Writing,1,3,4,7,1
199,10,Documentation Writing,3,3,2,7,4

In [144]:
taskData.describe().T

                   count   mean       std  min  25%  50%   75%   max
TaskID             200.0  5.500  2.879489  1.0  3.0  5.5  8.00  10.0
Python             200.0  4.535  2.779822  1.0  2.0  4.0  7.00  10.0
DataAnalysis       200.0  4.320  2.565249  1.0  2.0  4.0  6.25  10.0
ML                 200.0  3.660  2.641836  1.0  2.0  3.0  4.00  10.0
Communication      200.0  4.130  2.540743  1.0  2.0  3.5  6.00  10.0
ProjectManagement  200.0  4.060  2.646017  1.0  2.0  4.0  5.00  10.0

#### Here it is seen that the mean and std of the dataset is almost same. <br>So no need of standard scaler.

#### TaskName is considered as y label and skillset list to x part

In [145]:
x = taskData.iloc[:,2:].values
y = taskData['TaskName']
x.shape , y.shape

((200, 5), (200,))

#### Splitting to train test data with 30% of testing data

In [146]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)
x_train.shape, x_test.shape ,y_train.shape, y_test.shape

((140, 5), (60, 5), (140,), (60,))

#### Since no standard scaler is used naive bayes algorithm is ignored.<br>

In [147]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
# from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
knn=KNeighborsClassifier(n_neighbors=3)
# nb=GaussianNB()
model=SVC()
dec=DecisionTreeClassifier(criterion='entropy')
ran=RandomForestClassifier(n_estimators=5,criterion='entropy')
modeldata=[knn,model,dec,ran]
modeldata

[KNeighborsClassifier(n_neighbors=3),
 SVC(),
 DecisionTreeClassifier(criterion='entropy'),
 RandomForestClassifier(criterion='entropy', n_estimators=5)]

In [148]:
from sklearn.metrics import accuracy_score
for i in modeldata:
    i.fit(x_train,y_train)
    y_pred=i.predict(x_test)
    print(i)
    print("Accuracy score is ",accuracy_score(y_test,y_pred))
    print("\n_________________________________________________________________________________________________")

KNeighborsClassifier(n_neighbors=3)
Accuracy score is  0.9

_________________________________________________________________________________________________
SVC()
Accuracy score is  0.8833333333333333

_________________________________________________________________________________________________
DecisionTreeClassifier(criterion='entropy')
Accuracy score is  0.85

_________________________________________________________________________________________________
RandomForestClassifier(criterion='entropy', n_estimators=5)
Accuracy score is  0.8666666666666667

_________________________________________________________________________________________________

#### KNN gave almost 90% accuracy than SVC , Decision tree and Random Forest classifier.<br> So took KNN model to predict the task for employee.

### Prediction

In [149]:
employee = pd.read_csv('Dataset/employees.csv')
employee.shape

(10, 7)

In [150]:
employee

,EmployeeID,Name,Python,DataAnalysis,ML,Communication,ProjectManagement
0,1,Employee_1,9,10,5,4,7
1,2,Employee_2,3,6,7,6,7
2,3,Employee_3,7,5,6,4,1
3,4,Employee_4,5,2,6,3,7
4,5,Employee_5,5,6,2,8,10
5,6,Employee_6,6,7,9,7,4
6,7,Employee_7,5,6,8,8,7
7,8,Employee_8,9,2,9,8,1
8,9,Employee_9,9,2,2,7,1
9,10,Employee_10,9,4,4,6,3

In [151]:
pred = employee.iloc[:,2:]
knn.fit(x_train,y_train)
assignedTask = knn.predict(pred.values)
assignedTask

array(['Data Cleaning & Preparation', 'AI Model Training',
       'Machine Learning Model Development', 'Resource Allocation',
       'Project Planning & Coordination',
       'Machine Learning Model Development', 'Client Presentation',
       'Machine Learning Model Development', 'Automation Script',
       'Backend API Development'], dtype=object)

In [152]:
Task = pd.DataFrame(assignedTask , columns=["AssignedTask"])
employee = pd.concat([employee,Task],axis=1)
employee

,EmployeeID,Name,Python,DataAnalysis,ML,Communication,ProjectManagement,AssignedTask
0,1,Employee_1,9,10,5,4,7,Data Cleaning & Preparation
1,2,Employee_2,3,6,7,6,7,AI Model Training
2,3,Employee_3,7,5,6,4,1,Machine Learning Model Development
3,4,Employee_4,5,2,6,3,7,Resource Allocation
4,5,Employee_5,5,6,2,8,10,Project Planning & Coordination
5,6,Employee_6,6,7,9,7,4,Machine Learning Model Development
6,7,Employee_7,5,6,8,8,7,Client Presentation
7,8,Employee_8,9,2,9,8,1,Machine Learning Model Development
8,9,Employee_9,9,2,2,7,1,Automation Script
9,10,Employee_10,9,4,4,6,3,Backend API Development